:root {
  --primery-white-color: #ffffff;
}

body {
  background-color: var(--primery-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo span {
  color: #2196f3;
}

/* Site nav*/
header a {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* footer */
.address .list a {
  text-decoration: none;
}
